/*/////////////////////////////////*/
/*                                /*/
/*          SavingEverAfter       /*/
/*            WDD10 - 2021        /*/
/*           Olumide Ajayi        /*/
/*            U of W PACE         /*/
/*         HTML5/CSS3 Project     /*/
/*         project_print.css      /*/
/*                                /*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/*/    

body{
  font-family: 'Montserrat',Arial, sans-serif;
  font-size: 12px;
  background: #fff;
  width: 100%;
}

#wrapper{
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: center;
}

/* Sections to Hide */
nav{
  display: none;
}

/* my_table css design */
.my_table{
  width: 750px;
  border: 1px solid #000;
  border-spacing: 0;
  border-collapse: collapse;
  max-width: 100%;
  margin: 50px auto;
}

.my_table caption{
  background-color: #888; /* setting table caption to dark grey */
  color: #fff;
  font-weight: 700;
}

.my_table td, table.my_table th{
  border: 1px solid #000;
  padding: 5px;
  vertical-align: center; /* Cell padding, alignment and border colour */
}

.my_table th{
  background-color: #888;
  text-align: center; /* colour of text, background colour and text-align for my_table TH */
}
