/*/////////////////////////////////*/
/*                                /*/
/*          SavingEverAfter       /*/
/*            WDD10 - 2021        /*/
/*           Olumide Ajayi        /*/
/*            U of W PACE         /*/
/*       PHP Capstone Project     /*/
/*            Desktop.css         /*/
/*                                /*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/*/    

body{
  font-family: 'Montserrat',Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0;
  background-color: #f3d8dd;
}

h1, h2, b, th,strong{
  font-weight: 700;
}

#wrapper{
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  background-color: #eee;
}

#wrapper div img {
  max-width: 100%;
  height:auto;
}

.header{
  min-height: 75px;
  background-color: #d68b9b;
  z-index: 500;
  width: 100%;
  display: block;
}


.header #logo{
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}

main {
  /* Internet Explorer 11 apparently doesn't recognize MAIN as a block element. */
  display: block;
}

.util{
  display: block;
  width: 100%;
  font-size: 0.7em;
  min-height: 30px;
  background: #eec6cd;
}


.util ul{
  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: absolute;
  right: 15px;
}

.util ul li{
  list-style-type: none;
  display: inline-block;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding-right: 10px;
}

.util ul li:hover{
  cursor: pointer;
}

.util #util_logout input[type="submit"]{
  background: linear-gradient(#d58a90,#eee);
  padding: 2px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.util ul li a{
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  font-weight: 700;
}

.util ul li a:hover{
  background-color: #666;
  color: #eec6cd;
}

nav{
  right: 15px;
  position: absolute;
  margin-top: 16px;
}


nav ul{
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

nav ul li:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

nav ul li a{
  display: block;
  padding: 9px 15px 7px 15px;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  font-weight: 700;
  /*-webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;*/
}

nav ul li a:hover{
  background-color: #666;
  color: #eec6cd;
  border-radius: 5px;
}

#motto_header{
  margin-top: 40px;
  text-shadow: 2px 2px #fff;
  padding-bottom: 60px;
}

#call_to_action{
  margin-top: 40px;
  font-size: 0.99em;
}

#call_to_action_div{
  background-image: url(../images/Beach_wedding_pic_edit.jpg);
  height: 500px;
  overflow: hidden;
  max-width: 960px;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: center top;
}


#register_action{
  background-color: #ddd;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

#vision_statement_div{
  text-align: center;
  padding: 40px 0;
  
}

footer{
  color: #fff;
  text-align: center;
  clear: both;
  font-size: 0.8em;
  background-color: #888;
  margin-top: 20px;
}

/* Frequently used CSS rules */

.position_center{
  width: 100%;
  text-align: center;
}

.def_anchor{
  text-decoration: none;
  background-color: #d68b9b;
  color: #000;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding: 7px 7px 7px 7px;
  border-radius: 5px;
}

.def_anchor:hover {
  text-decoration: none;
  background-color: #666;
  color: #eec6cd;
}

.bold_font{
  font-weight: 700;
}

.flex_three{
  width: 33%;
}

.sm_border_radius{
  border-radius: 7px;
}

.padded_width{
  margin:0 15px;
}

.floatleft{
  float: left;
  margin-right: 12px;
  margin-bottom: 10px;
}
.floatright{
  float: right;
  margin-left:12px;
  margin-bottom: 10px;
}

.clearfloat{
  clear: both;
}

.justified_text{
  margin: 0;
  font-size: 0.8em;
}

/* my_table css design */
.my_table{
  width: 750px;
  border: 1px solid #000;
  border-spacing: 0;
  border-collapse: collapse;
  max-width: 100%;
  margin: 50px auto;
}

.my_table caption{
  background-color: #888; /* setting table caption to dark grey */
  color: #fff;
  font-weight: 700;
}

.my_table td, table.my_table th{
  border: 1px solid #000;
  padding: 5px;
  vertical-align: center; /* Cell padding, alignment and border colour */
}

.my_table th{
  background-color: #d68b9b;
  text-align: center; /* colour of text, background colour and text-align for my_table TH */
}

/*contact form css format */
#contact_form{
  max-width: 100%;
  width: 600px;
}

form fieldset{
  border: 1px solid #888;
  background-color: #fff;
  border-radius: 7px;
  margin: 0 auto 25px;
  max-width: 500px;
}


form legend{
  background-color: #d58a9b;
  color: #000;
  padding: 8px 9px 8px 9px;
  font-weight: 700;
  border-radius: 7px;
}

form label{
  display: block;
  width: 180px;
  clear: both;
  float: left;
  text-align: right;
  padding-right: 1em;
}

form label.longlabel{
  float: none;
  display: block;
  width: auto;
  text-align: left;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"]{
  width: 200px;
  font-size: 0.9em;
  padding: 6px 8px;
  background-color: #f2d8dd;
  border: 2px solid #d58a9b;
  font-weight: 700;
}


form input[type="text"]:hover,
form input[type="password"]:hover,
form input[type="email"]:hover,
form input[type="tel"]:hover{
  background-color: #f2d8dd;
  color: #000;
  border: 2px solid #000;
}

form input + label{
  float: none;
  display: inline;
  width: auto;
}  

form input[type="text"]:focus{
  border: 2px solid #f66;
}

form input[type="submit"],
form input[type="reset"],
form input[type="button"]{
  border: 2px solid #300;
  padding: 7px 10px;
  background-color: #f3d8dd;
  background: linear-gradient(#d58a90,#eee);
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
form input[type="submit"]:hover,
form input[type="reset"]:hover,
form input[type="button"]:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* media query to adjust padding in header nav*/
@media screen and (min-width: 768px) and (max-width: 860px) {
  nav ul li a{
    padding: 9px 8px 7px 8px;
  }
}

.msg_box{
  color: #f00;
  font-weight: 700;
  font-size: 1.2em;
  max-width: 500px;
  background-color: #fff;
  border-radius: 7px;
  padding: 10px 60px;
  margin: 0 auto 40px;
  text-align: center;
}

.msg_box_good{
  color: rgb(16, 153, 16);
  max-width: 500px;
  font-size: 1.2em;
  font-weight: 700;
  background-color: #fff;
  border-radius: 7px;
  padding: 10px 60px;
  margin: 0 auto 40px;
  text-align: center;
}

.profile_view{
  margin: 10px 40px 40px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 7px;
  padding: 5px;
}

.profile_view p {
  margin: 4px auto;
}

.clothing_row{
  display: flex;
  flex-wrap: wrap;
}

.clothing_col{
  flex: 0 0 20%;
  margin-top: 20px;
  max-width: 20%;
  padding: 0 15px;
}

#clothing_div{
  margin: 0 auto;
}
#clothing_div .clothing_row .clothing_col img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.error{
  display: block;
  margin-left: 200px;
  color: #f00;
  font-size: 0.9em;
}

.text_align_right{
  text-align: right;
}

.grey_bg{
  background-color: #aaa;
}

.btn{
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  background: #efefef;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

.btn.success{
  background: #009900;
  color: #ffffff;
}

.btn.primary{
  background: #000099;
  color: #ffffff;
}

.btn.danger{
  background: #990000;
  color: #ffffff;
}
